<!DOCTYPE html>
<html lang="en" ng-app="tunelyApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tunely</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../public/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="../bower_components/angular/angular.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../public/scripts/app.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Tunely</h1>
        <p>Your music binder!</p>
      </div>
    </div>
  </body>

  <div class="container" ng-controller="AlbumsIndexController as albumsIndexCtrl">
    <p>
      <b>{{ albumsIndexCtrl.newAlbum}}</b>
    </p>
  </div>
</html>
