<!DOCTYPE html>
<html lang="en" ng-app="tunelyApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tunely</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">

    <!-- VENDOR SCRIPTS -->
    <script src="vendor/angular/angular.js"></script>
    <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/controllers/AlbumShowController.js"></script>
    <script src="/scripts/controllers/AlbumsIndexController.js"></script>

  </head>
  <body>
    <header>
      <div class="container">
        <h1>Welcome to Tunely</h1>
        <p>Your music binder!</p>
      </div>
    </header>

    <nav class="navbar navbar-inverse">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <i class="glyphicon glyphicon-search"></i>
          <input type="text" ng-model="searchText" class="form-control" placeholder="Search for an album">
        </div>
      </form>
      <button class='btn btn-info pull-right createNew' ng-hide="creating" ng-click="creating = true">Add New Album</button>
    </nav>

    <div class="container">
      <form class="form-horizontal" ng-show="creating" ng-submit="albumsIndexCtrl.createAlbum()">
        <fieldset>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Album Name</label>
            <div class="col-md-4">
            <input id="name" ng-model="albumsIndexCtrl.newAlbum.name" type="text" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Artist Name</label>
            <div class="col-md-4">
            <input ng-model="albumsIndexCtrl.newAlbum.artistName" type="text" class="form-control input-md">
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label">Release Date</label>
            <div class="col-md-4">
            <input ng-model="albumsIndexCtrl.newAlbum.releaseDate" type="text" class="form-control input-md">
            </div>
          </div>

          <!-- Textarea -->
          <div class="form-group">
            <label class="col-md-4 control-label">Genres (separated by commas)</label>
            <div class="col-md-4">
              <textarea class="form-control" ng-model="albumsIndexCtrl.newAlbum.genres"></textarea>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label">Save Album</label>
            <div class="col-md-4">
              <button class="btn btn-primary" ng-click="creating = false">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>

      <div ng-view></div> <!--albumsIndexController view appears here-->

    </div>
    <br>
    <footer></footer>
    <br>
 </body>
</html>
