header {
  background-image: url(../images/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
  height: 20vw;
}

nav {
  border-radius: 0 !important;
}

.jumbotron .container {
  height: 350px;
}

.singleAlbumDisplay {
  height: 16vw;
  border: 1px solid #ddd;
  margin-top: 1vw;
}

i {
  color: white;
}
.songShow, .genreShow {
  display: inline-block;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.hidden {
  display: none;
}
